* {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-color: #0F0C15;
}

footer {
  height: 15px;
  font-size: 12px;
  color: #f0f0f0;
  font-weight: 100;
}

main#main {
  display: flex;
  width: 100%;
  height: calc(100% - 15px);
  padding-top: 15px;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  width: 100%;
  height: calc(100% - 15px);
  min-width: 300px;
  min-height: 300px;
  max-width: 700px;
  max-height: 700px;
  background-color: #201C29;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard {
  height: 100%;
  width: 100vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  border-style: solid;
  border-width: 2vh;
  border-color: black;
}

@media only screen and (max-width: 852px) {
  #gameboard {
    height: 100vw;
  }
}

.game-item {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: left;
}

.game-item.up.left {
  background-color: #6DD353;
}

.game-item.up.left:active,
.game-item.up.left.active {
  background-color: #b3ffa0;
}

.game-item.up.right {
  background-color: #E83F33;
}

.game-item.up.right:active,
.game-item.up.right.active {
  background-color: #FF9E97;
}

.game-item.down.left {
  background-color: #FEF731;
}

.game-item.down.left:active,
.game-item.down.left.active {
  background-color: #FAF9DF;
}

.game-item.down.right {
  background-color: #3FA7F1;
}

.game-item.down.right:active,
.game-item.down.right.active {
  background-color: #A3D9FF;
}

button.disabled {
  cursor: pointer !important;
  pointer-events: none !important;
}

#gameboard>.decoration {
  position: absolute;
  z-index: 10;
}

#gameboard>.decoration.circle {
  background: black;
  width: 20vh;
  height: 20vh;
  max-width: 100px;
  max-height: 100px;
  border-radius: 10vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#gameboard>.decoration.horizontal {
  background-color: black;
  height: 100%;
  max-height: 25px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#gameboard>.decoration.vertical {
  background-color: black;
  width: 100%;
  max-width: 25px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.game-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-dashboard>.score {
  width: auto;
  max-width: 70%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201C29;
  margin: 2px 0;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  overflow: hidden;
  padding: 0 10px;
}

.game-dashboard>.controls {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.game-dashboard>.controls>.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-dashboard>.controls>.btn-wrapper>.start {
  background-color: #CE362C;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-height: 500px) {
  .game-dashboard>.controls>.btn-wrapper>.start {
    width: 15px;
    height: 15px;
  }
}

.game-dashboard>.controls>.btn-wrapper>.start:active {
  background-color: #EC4F44;
}

.game-dashboard>.controls>.btn-wrapper>.start.disabled {
  background-color: #FF9C94;
}

.github-badge-wrapper {
  z-index: 10;
  top: -15px;
  left: -65px;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: white;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  padding-top: 30px;
}

.github-badge-wrapper>a {
  height: 100%;
}

.github-badge-wrapper .github-logo {
  object-fit: contain;
  height: 100%;
}